{% extends "base.html" %}

{% block content %}

    <p style="margin-top:1cm;">This service provides the output scores for popular deep networks
        from the <a href="https://pytorch.org/docs/stable/torchvision/models.html">
            Torchvision model zoo</a>. </p>
    <p style="margin-top:1cm;">Go
        <a href={{ url_for("classifications") }}>here</a> for
        trying out the classification service or
        <a href={{ url_for("image_histogram") }}>here</a> for
        trying out the histogram service.
    </p>
    <p style="margin-top:1cm;">For the list of models and images
        available, click
        <a href={{ url_for("info") }}>here</a>.</p>
    <p style="margin-top:1cm;">To apply Jitter transformation to an image click
        <a href={{ url_for("color_jitter_image") }}>here</a>.</p>
{% endblock %}